<html>
  <head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.admin">
  </head>
  <body>
    <form id="admin" class="aui" action="">
        <div class="field-group">
             <label for="name">Username:</label>
             <input type="text" id="name" name="name" class="text">
        </div>
        <div class="field-group">
             <label for="age">Password:</label>
             <input type="password" id="age" name="age" class="text">
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button" onclick="alert('Click Close and the Sync script will run :).');">
        </div>
    </form>
  </body>
</html>